Repository 0ne6yte/life-4-cut-frontend, pull requests merged in 2023-08, with the labels that each got.

#16 storybook 초기세팅 & alias, svg Icon config
  .eslintrc.js
  .gitignore
  .yarnrc.yml
  README.md
  package.json
  src/App.tsx
  src/assets/check-mark.svg
  src/assets/error-mark.svg
  src/custom.d.ts
  src/domain/_common/components/Input.tsx
  src/domain/_common/components/index.ts
  src/domain/_common/components/index.tsx
  src/domain/_common/components/input.css
  src/stories/Configure.mdx
  src/stories/Input.stories.ts
  src/vite-env.d.ts
  tsconfig.json
  vite.config.ts
  yarn.lock
Labels: Docs 📋, Config ⚙️

#22 Config/deploy setting
  .gitignore
  .yarn/releases/yarn-3.6.1.cjs
  package.json
  public/_redirects
  src/App.tsx
  src/domain/Login/components/index.tsx
  src/domain/Login/hooks/index.ts
  src/domain/Login/index.tsx
  src/domain/MyPage/components/index.tsx
  src/domain/MyPage/hooks/index.ts
  src/domain/MyPage/index.tsx
  src/routers/AlbumRouters.tsx
  src/routers/PhotoRouters.tsx
  vite.config.ts
  yarn.lock
Labels: 긴급 🚨, 중요도: 중 😌, Config ⚙️

#23 chore: readme에 웹사이트 URL 추가하기
  README.md
Labels: 중요도: 하 😜, Chore 🐤

#21 Chore/design system
  package.json
  postcss.config.js
  src/App.tsx
  src/domain/_common/layouts/DefaultMobileLayout/index.tsx
  src/domain/_common/styles/global.css
  src/index.css
  tailwind.config.js
  yarn.lock
Labels: Feature 🎡, Config ⚙️
